@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
}

.container{

 width: 300px;
 text-align: center;
 margin: 60px auto 0;
    
}



div > img{
   border-radius: 50%;
   width: 100%;
   width: 200px;
   height: 200px;
   padding: 5px;
   border: #BB99DD solid 3.7px;
   
}

ul{
    list-style: none;
    margin: 48px 0;
}
    
ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--purple);
    width: 100%;
    height: 53px;
    border-radius: 3px;
    margin-bottom: 20px;
}

figcaption{
    font-size: 14px;
}
figcaption, p{
    color: #BB99DD;
}

a{
    text-decoration: none;
}
.links-social a ~ a{
    margin-left: 40px;
}

